export PYTHONPATH=./
export PNML_PATH=./schemata
export HOSTNAME=api.example.com
export RDS_USER=bitwrap
export AMQP_HOST=127.0.0.1
export AMQP_VHOST='/'
export AMQP_USER=bitwrap
export AMQP_PASS=bitwrap
export AMQP_ROUTING_KEY='*'
export AMQP_EXCHANGE=bitwrap
export AMQP_QUEUE=bitwrap
#export TWISTD_OPTS='--nodaemon'
